<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>UT Fight</title>
  <link rel="stylesheet" href="index.css">
</head>
<body>
  <center>
    <div id="container" class="container">
      <p class="title">Undertale Fight</p>
      <div id="gameContainer" class="gameContainer">
        <div id="gameContent" class="gameContent">
          <img id="sansDances" class="image" src="sans-dances.gif" alt="Sans-Dances"/>
        </div>
      </div>
      <div id="start">
        <p id="startText">Start</p>
      </div>
      <!-- <div id="controls" class="controls">
        <button onmousedown="accelerate(-0.2)" onmouseup="accelerate(0.05)">ACCELERATE</button>
        <p>Use the ACCELERATE button to stay in the air</p>
        <p>How long can you stay alive?</p>
      </div> -->
    </div>
  </center>
  <script src="index.js" charset="utf-8"></script>
</body>
</html>
